<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FitnessApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1826475B1CF42BE900BE9C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182647721CF42BEA00BE9C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1826477D1CF42BEA00BE9C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
